Installer/
Manta_Alex/app.config
Manta_Alex/Properties/Settings.settings
Manta_Alex/bin/Release/LTDesktop.vshost.exe.config
Manta_Alex/bin/Debug/LTDesktop.vshost.exe.config
Manta_Alex/bin/Release/LTDesktop.exe.config
Manta_Alex/bin/Debug/LTDesktop.exe.config